{% comment %} Better 404 Page with personality {% endcomment %}
<main class="container min-h-96 flex flex-col items-center justify-center">
  <div class="text-6xl font-bold border-primary border-8 p-2 mb-2">404</div>
  <div class="text-3xl">Error! Page not found</div>
  <div>Sorry, the page you were looking for could not be found.</div>
  <button class="mt-4 font-semibold rounded bg-primary py-2 px-3 text-secondary">Back to Home</button>
</main>
